{% extends 'accueildg.html' %}
{% load static %}

{% block title %} <title>Accueil</title>{% endblock %}


{% block contenu %}

<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="email-left-box"><a href="{% url 'envoyer_message' %}" class="btn btn-primary btn-block">Envoyer un message</a>
                            <div class="mail-list mt-4"><a href="{% url 'message_msg' %}" class="list-group-item border-0 text-primary p-r-0"><i class="fa fa-inbox font-18 align-middle mr-2"></i><b>Message Reçu</b> <span class="badge badge-primary badge-sm float-right m-t-5">{{ nombre }}</span> </a>
                                <a href="{% url 'message_envoye' %}" class="list-group-item border-0 p-r-0"><i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Message Envoyé</a> 
                                <a href="{% url 'archive_msg' %}" class="list-group-item border-0 p-r-0"><i class="fa fa-trash font-18 align-middle mr-2"></i>Corbeille</a>
                            </div>
                            
                        </div>
                        <div class="email-right-box">

                            {% for elt in nonlus %}
                            <div class="email-list m-t-15">
                                <div class="message">
                                    <a href="{% url 'lire_message' id=elt.id %}">
                                
                                        <div class="col-mail col-mail-">
                                            <div class="subject" style="color: rgb(4, 4, 8);"><strong>{{ elt.obj }}</strong> // {{ elt.contenu | truncatewords:4 }} //  {{ elt.date_envoie }}</div> 
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                            
                            {% for elt in recu %}
                            <div class="email-list m-t-15">
                                <div class="message">
                                    <a href="{% url 'lire_message' id=elt.id %}">
                                        
                                        <div class="col-mail col-mail-">
                                            <div class="subject"><strong>{{ elt.obj }}</strong> // {{ elt.contenu | truncatewords:4 }} //  {{ elt.date_envoie }}</div> 
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- panel -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>

{% endblock %}